<div>
    <h1>Ticket de Compra</h1>
    <h2>Te agradecemos por confiar en nosotros y elegirnos a la hora de comprar.</h2>

  <p>Fecha de Compra: {{ticket.purchaseDateTime}}</p>
  <p>Monto Total: ${{ticket.amount}}</p>
  <p>Comprador: {{ticket.purchaser}}</p>
  <p>Destino: {{ticket.destination}}</p>

  <a href="/api/products"><button>Volver a la Página Principal</button></a>
  </div>